/**
  * @name Custom UI Tweaks
  * @author fredi_68
  * @description Collection of minor UI changes meant to use in conjunction with GooseNest's RevertRebrand theme
  * @invite 
  * @version 1.0
*/

/*
Remove the funny new font
*/
@font-face {
  font-family: "Whitney";
  src: url(/assets/b22a047b24393561750b742d8d88a48a.woff2) format("woff2"); /* Expect this to change eventually, TODO: find a workaround for using local files */
}
* {
  --font-primary: "Whitney","Helvetica Neue",Helvetica,Arial,"Noto Sans",sans-serif !important;
  --font-display: "Whitney","Helvetica Neue",Helvetica,Arial,"Noto Sans",sans-serif !important;
  --font-headline: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;

  --cuit-purple: #7d92dd;
  --cuit-purple-2: rgba(114,137,218,0.1);
}

/*
Fix reactions. And I mean that.
*/
.reaction__23977 {
  border-radius: 0.25rem;
  background: unset;
  border-color: transparent !important;
  margin-right: 3px;
}

.reaction__23977.reactionMe__23977 {
  background-color: unset !important;
}

.reaction__23977.reactionMe__23977 .reactionCount__23977 {
  color: var(--cuit-purple);
}

/*This keeps getting worse...*/
.visual-refresh .reaction__23977.reactionMe__23977 {
    background-color: unset !important;
}

/*
Remove the ghastly puke-yellow mentioned message
background and replace it with a nice, calm,
oldschool discord purple
*/
.mentioned__5126c {
  background-color: unset;
  border-color: var(--cuit-purple-2);
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}

.mentioned__5126c:hover {
  background-color: var(--cuit-purple-2) !important;
}

.mentioned__5126c.selected__5126c {
  background-color: var(--cuit-purple-2) !important;
}

.mentioned__5126c:before {
  background-color: var(--cuit-purple);
}

/*
Also replace the mentioned badge red with
the same color
*/
.numberBadge__2b1f5 {
    background-color: var(--cuit-purple);
}

.iconBadgeBottom__9293f {
    background-color: var(--cuit-purple); /* And inbox as well for coherency */
}

/*
Remove the quick access buttons because
context menu is already OP
*/
.buttonContainer_c19a55 {
  display: none !important;
}

/*
Remove useless buttons from the message
bar. The message bar is for messages.
*/
.channelAppLauncher_e6e74f {
    display: none !important;
}

.button__201d5[aria-label="Send a gift"] {
    display: none !important;
}

.button__201d5[aria-label="Open sticker picker"] {
    display: none !important;
}

/*
Restore the old add reaction button behavior
to what it was back when discord designers
knew how to build a functioning UI
*/
.reactionBtn__23977 {
    visibility: hidden;
}

.messageListItem__5126c:hover .reactionBtn__23977 {
    visibility: visible;
}