/**
  * @name Custom UI Tweaks
  * @author fredi_68
  * @description Collection of minor UI changes meant to use in conjunction with GooseNest's RevertRebrand theme
  * @invite 
  * @version 1.0
*/

/*
Remove the funny new font
*/
@font-face {
  font-family: "Whitney";
  src: url(/assets/b22a047b24393561750b742d8d88a48a.woff2) format("woff2"); /* Expect this to change eventually, TODO: find a workaround for using local files */
}
* {
  --font-primary: "Whitney","Helvetica Neue",Helvetica,Arial,"Noto Sans",sans-serif !important;
  --font-display: "Whitney","Helvetica Neue",Helvetica,Arial,"Noto Sans",sans-serif !important;
  --font-headline: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

/*
Fix reactions. And I mean that.
*/
.reaction_fef95b {
  border-radius: 0.25rem;
  background: unset;
  border-color: transparent !important;
  margin-right: 3px;
}

.reaction_fef95b.reactionMe__98f57 {
  background-color: unset;
}

.reaction_fef95b.reactionMe__98f57 .reactionCount_b49901 {
  color: var(--brand-experiment-460);
}

/*
Remove the ghastly puke-yellow mentioned message
background and replace it with a nice, calm,
oldschool discord purple
*/
.mentioned__58017 {
  background-color: unset;
  border-color: var(--brand-experiment-10a);
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}

.mentioned__58017:hover {
  background-color: var(--brand-experiment-10a) !important;
}

.mentioned__58017.selected-2LX7Jy {
  background-color: var(--brand-experiment-10a) !important;
}

.mentioned__58017:before {
  background-color: var(--brand-experiment-460);
}

/*
Remove the quick access buttons because
context menu is already OP
*/
.buttonContainer_dd4b62 {
  display: none !important;
}
